/*This is how to comment in CSS*/
main {
    margin-right: 25px;
    margin-left: 25px;

}

.beverage {
    border: #e7e7ec solid 2px;
    height: 250px;
    margin-top: 10px;
    background-color: white;
}

.gif {
    border: #e7e7ec solid 2px;
    height: 400px;
    width: 100%;
    margin-top: 10px;

}


body {
    background: url("./Images/websiteBackground.jpg");
}

h3 {
    text-align: center;
    color:#e7e7ec;


}

header {
    text-align: center;
    color:#e7e7ec;
    font-family: 'Lora', serif;}

h1 {
    font-family: fantasy;
    color:#e7e7ec;


}

#formCSS {
    margin-top: 10px;
    
}

.formContainer {
text-align: center;
}

h2 {
    font-family: fantasy;
    color:#e7e7ec;
}



/* removed duplicate body class CR: 
body {
    background-color: #950740
} */

div {
    font-family: fantasy;
}



/*the footer is currently not visible CR*/
footer {
    text-align: center;
    position: relative;
}

#heroimage {
    background: url("./Images/cocktail.jpg");
}

/* added hide class to allow for receipe div and giphy div to hide until after the button is selected CR*/
/* .hide {
    display:none; 
} */

/* I commented the section and article classes as we were not going to use the div background in the future CR
section {
    background: url("./Images/divBackground.jpg");
    font-family: fantasy;
    opacity: .5;


}

article {

    background: url("./Images/divBackground.jpg");
    font-family: fantasy;
    opacity: .5;

}*/

.drinkPicDiv {
    height: 100px;
    width: 100px;
    border: black solid 4px;
    object-fit: cover;

}


#recentlyViewed {
    background-color: white;
}


iframe{
    justify-content: center;
}

li {
    list-style: none;
}

