/*This is how to comment in CSS*/
.beverage {
    border: black solid 2px;
    height: 250px;
    margin-top: 10px;
}

.gif {
    border: black solid 2px;
    height: 250px;
    margin-top: 10px;

}

h3 {
    text-align: center;

}

header {
    text-align: center;
    color:#1A1A1D;
    font-family: fantasy;
}

h1 {
    font-family: fantasy;

}

#formCSS {
    border: black solid 2px;
    margin-top: 10px;
    
}

.formContainer {
text-align: center;
}

h2 {
    font-family: fantasy;

}



body {
    background-color: #950740
}

div {
    background-color:#C3073F ;
    font-family: fantasy;


}

footer {
    text-align: center;
}